﻿<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>{{ currentPageTitle }}</title>
  <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/fonts/fontawesome5-overrides.min.css">
  <link rel="stylesheet" href="static/css/styles.min.css">
  <style>
    .abcRioButton {
      border-radius: 1px;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
      transition: background-color .218s,border-color .218s,box-shadow .218s;
      -webkit-user-select: none;
      -webkit-appearance: none;
      background-color: #fff;
      background-image: none;
      color: #262626;
      cursor: pointer;
      outline: none;
      overflow: hidden;
      position: relative;
      text-align: center;
      vertical-align: middle;
      white-space: nowrap;
      width: auto
    }

      .abcRioButton:hover {
        box-shadow: 0 0 3px 3px rgba(66,133,244,.3)
      }

    .abcRioButtonBlue {
      border: none;
      color: #fff
    }

      .abcRioButtonBlue, .abcRioButtonBlue:hover {
        background-color: #4285f4
      }

        .abcRioButtonBlue:active {
          background-color: #3367d6
        }

    .abcRioButtonLightBlue {
      background-color: #fff;
      color: #757575
    }

      .abcRioButtonLightBlue:active {
        background-color: #eee;
        color: #6d6d6d
      }

    .abcRioButtonIcon {
      float: left
    }

    .abcRioButtonBlue .abcRioButtonIcon {
      background-color: #fff;
      border-radius: 1px
    }

    .abcRioButtonSvg {
      display: block
    }

    .abcRioButtonContents {
      font-family: Roboto,arial,sans-serif;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: .21px;
      margin-left: 6px;
      margin-right: 6px;
      vertical-align: top
    }

    .abcRioButtonContentWrapper {
      height: 100%;
      width: 100%
    }

    .abcRioButtonBlue .abcRioButtonContentWrapper {
      border: 1px solid transparent
    }

    .abcRioButtonErrorWrapper, .abcRioButtonWorkingWrapper {
      display: none;
      height: 100%;
      width: 100%
    }

    .abcRioButtonErrorIcon, .abcRioButtonWorkingIcon {
      margin-left: auto;
      margin-right: auto
    }

    .abcRioButtonErrorState, .abcRioButtonWorkingState {
      border: 1px solid #d5d5d5;
      border: 1px solid rgba(0,0,0,.17);
      box-shadow: 0 1px 0 rgba(0,0,0,.05);
      color: #262626
    }

      .abcRioButtonErrorState:hover, .abcRioButtonWorkingState:hover {
        border: 1px solid #aaa;
        border: 1px solid rgba(0,0,0,.25);
        box-shadow: 0 1px 0 rgba(0,0,0,.1)
      }

      .abcRioButtonErrorState:active, .abcRioButtonWorkingState:active {
        border: 1px solid #aaa;
        border: 1px solid rgba(0,0,0,.25);
        box-shadow: inset 0 1px 0 #ddd;
        color: #262626
      }

      .abcRioButtonWorkingState, .abcRioButtonWorkingState:hover {
        background-color: #f5f5f5
      }

        .abcRioButtonWorkingState:active {
          background-color: #e5e5e5
        }

      .abcRioButtonErrorState, .abcRioButtonErrorState:hover {
        background-color: #fff
      }

        .abcRioButtonErrorState:active {
          background-color: #e5e5e5
        }

        .abcRioButtonErrorState .abcRioButtonErrorWrapper, .abcRioButtonWorkingState .abcRioButtonWorkingWrapper {
          display: block
        }

        .abcRioButtonErrorState .abcRioButtonContentWrapper, .abcRioButtonErrorState .abcRioButtonWorkingWrapper, .abcRioButtonWorkingState .abcRioButtonContentWrapper {
          display: none
        }

    .-webkit-keyframes abcRioButtonWorkingIconPathSpinKeyframes {
      0%

    {
      -webkit-transform: rotate(0deg)
    }
    }
  </style>
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="54">
  <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('main.index') }}">DUDE SCHEDULE</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="{{ url_for('main.index') }}">HOME</a></li>
          {% if current_user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{{ url_for('settings.index') }}">SETTINGS</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">LOGOUT</a></li>
          {% endif %}
          {% if not current_user.is_authenticated %}
          <li class="nav-item">
            <a href="{{ url_for('auth.login') }}">
              <div style="height:50px;width:240px;" class="abcRioButton abcRioButtonBlue">
                <div class="abcRioButtonContentWrapper">
                  <div class="abcRioButtonIcon" style="padding:15px">
                    <div style="width:18px;height:18px;" class="abcRioButtonSvgImageWithFallback abcRioButtonIconImage abcRioButtonIconImage18">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 48 48" class="abcRioButtonSvg">
                        <g>
                          <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                          <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                          <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                          <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                          <path fill="none" d="M0 0h48v48H0z"></path>
                        </g>
                      </svg>
                    </div>
                  </div>
                  <span style="font-size:16px;line-height:48px;" class="abcRioButtonContents"><span id="not_signed_in2fd0d0fzgtai">Sign in with Google</span></span>
                </div>
              </div>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  {% block content %} {% endblock %}
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item"><a href="https://vk.com/CaMo3BaH4uK"><i class="fa fa-vk"></i></a></li>
          </ul>
        </div>
        <div class="col-md-4"><span class="copyright">Copyright CaMo3BaH4uK 2022</span></div>
        <div class="col-md-4">
          <span class="copyright"><a href="{{ url_for('main.privacy') }}">Privacy policy (Политика в отношении обработки персональных данных)</a></span>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="static/js/script.min.js"></script>
</body>

</html>
