{% extends "base.html" %} {% block content %}
<header class="masthead" style="background-image:url('static/img/header-bg.jpg');">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in"><span style="font-size: 22px;">Enter your full name as in RUZ</span></div>
      <div class="intro-heading text-uppercase"></div>
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="card m-auto" style="max-width:850px">
            <div class="card-body">
              <form method="POST" action="{{ url_for('settings.namechange') }}" class="d-flex align-items-center"><i class="fas fa-search d-none d-sm-block h4 text-body m-0"></i><input class="form-control form-control-lg flex-shrink-1 form-control-borderless" type="text" placeholder="Full name" name="name" value="{{ name }}"><button class="btn btn-success btn-lg" type="submit">Search</button></form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}